<%- include('./partials/head') %> 

<body>
    <!--Menu-->
    <%- include('./partials/navbar')  %> 


    <!--Incluir os scripts do bootstrap-->
<%- include('./partials/scripts_import') %>
</body>
</html>